

.mission__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 471px;
  background-color: color-mix(in srgb, #a30c33, #cb0f41);
  margin-top: 100px;
  background-image: url("../../assets/img/missions/mission-background.svg");
  background-position: center; /* Центрирует фон */
  background-repeat: no-repeat; /* Избегаем повторения фона */
  -webkit-box-shadow: inset 0px 0px 21px -14px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0px 0px 21px -14px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 0px 21px -14px rgba(0, 0, 0, 0.4);
}

.mission__block {
  max-width: 1250px; /* Ширина блока как на изображении */
  text-align: center;
  padding: 0px 90px;
}

.mission__title {
  font-family: "Proxima Nova Condensed", sans-serif;
  line-height: 1.2;
  font-size: 56px;
  color: #ffffff;
  font-weight: 600;
  margin: 0; /* Убираем отступы вокруг заголовка */
}

.mission__subtitle {
  font-family: "Proxima Nova Condensed", sans-serif;
  line-height: 1.5;
  font-size: 32px;
  font-weight: 300;
  margin-top: 40px; /* Отступ между заголовком и подзаголовком */
  color: #ffffff;
}
